<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0">
    <name>FUN TIME </name>
    <description>DESCRIÇÃO DO APP</description>
    <content src="pgHome.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <icon src="www/img/logo.png"/>
    </platform>
</widget>